/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  color: #fff;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

/* normalize button styling */
button {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-decoration: none;
  background:	#b2b4b2;
  border: none;
  border-radius: 50%;
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #514689;
}

button:focus {
  outline: 1px dashed #fff;
  outline-offset: 2px;
}

button:active {
  transform: scale(1.03);
}
/* end button */

div {
  box-sizing: border-box;
}

.outer-wrapper {
  width: 325px;
  height: 475px;
  border-radius: 10px;
  background: #707372;
  /* centers on the page */
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  /* end centering */
}

.inner-wrapper {
  width: fit-content;
  height: fit-content;
  margin: 10px auto 0;
  padding: 10px;
  /* grid layout */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  /* end grid */
}

.display {
  align-self: center;
  width: 95%;
  height: 48px;
  margin: 16px 2.5%;
  overflow: hidden;
  text-align: right;
  font-size: 48px;
  letter-spacing: .1em;
  border-radius: 10px;
}

.clear {
  grid-row: 1;
  grid-column: 1;
}

.backspace {
  grid-row: 1;
  grid-column: 2 / 4;
  font-size: 1.2rem;
}
/*
all buttons between the backspace and equal sign
are placed automatically
*/
.equal {
  grid-row: 5;
  grid-column: 3 / 5;
}

.backspace, .equal {
  width: auto;
  border-radius: 25px;
}

/*
background:	#a7a4e0;
border-color: #514689;
background: #b2b4b2;
background: #707372;

